div{
	display: flex;
	width:600px;
	border:1px solid;	
}

p{
	position: absolute;
	margin: 0 50px;
}

img{
	outline: powderblue solid 20px;
	padding: 0;
	height: 200px;
	width: 200px;
	margin: 20px
}
li{
	
	float: left;
	display: flex;
	margin: 10px;
	align-items: flex-end;

}

#imaginea1,#imaginea2{
	display: flex;
	width: 200px;
}