<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cn" connectionString="Server=LAPTOP-7V5C7GV\SQLEXPRESS; Database=AstronomicalEvents2; 
            Integrated Security=true; TrustServerCertificate=true;"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <!-- <appSettings> -->
  <!--   <add key="ParentTableName" value="event"/> -->
  <!--   <add key="ChildTableName" value="image"/> -->
  <!--   <add key="ChildNumberOfColumns" value="7"/> -->
  <!--   <add key="ChildColumnNames" value="event_id,photographer,date_taken,image_url,city,country"/> -->
  <!--   <add key="ColumnNamesInsertParameters" value="@parentId,@photographer,@date_taken,@image_url,@city,@country"/> -->
  <!--   <add key="selectFromParent" value="SELECT * FROM event"/> -->
  <!--   <add key="selectFromChild" value="SELECT * FROM image where event_id=@id"/> -->
  <!--   <add key="UpdateQuery" value="UPDATE image SET photographer=@photographer, date_taken=@date_taken, image_url=@image_url, city=@city, country=@country WHERE id=@id"/> -->
  <!--   <add key="DeleteQuery" value="DELETE FROM image WHERE id=@id"/> -->
  <!-- </appSettings> -->
  
   <appSettings>
       <add key="ParentTableName" value="observatory"/>
       <add key="ChildTableName" value="opening_hours"/>
       <add key="ChildNumberOfColumns" value="5"/>
       <add key="ChildColumnNames" value="observatory_id,week_day,opening_time,closing_time"/>
       <add key="ColumnNamesInsertParameters" value="@parentId,@week_day,@opening_time,@closing_time"/>
       <add key="selectFromParent" value="SELECT * FROM observatory"/>
       <add key="selectFromChild" value="SELECT * FROM opening_hours WHERE observatory_id=@id"/>
       <add key="UpdateQuery" value="UPDATE opening_hours SET week_day=@week_day, opening_time=@opening_time, closing_time=@closing_time WHERE id=@id"/>
       <add key="DeleteQuery" value="DELETE FROM opening_hours WHERE id=@id"/>
   </appSettings>
  
</configuration>