<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <appSettings>
        <add key="port" value="55556"/>
        <add key="ip" value="127.0.0.1"/>
    </appSettings>
    <connectionStrings>
        <clear />
        <add name="travelAgencyDB"
             providerName=""
             connectionString="Server\travelAgency.db,Version=3" />
    </connectionStrings>
    
</configuration>